<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697611402149-gucldk1roa1dm98cr3bnn8dfoqaodchf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697611402149-gucldk1roa1dm98cr3bnn8dfoqaodchf</string>
	<key>API_KEY</key>
	<string>AIzaSyCkVT2RRmMwezW5CXWAEkSP52OuRhzci0I</string>
	<key>GCM_SENDER_ID</key>
	<string>697611402149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wantedCats</string>
	<key>PROJECT_ID</key>
	<string>my-home-7269d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-home-7269d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697611402149:ios:f01394eab7189f8219464c</string>
</dict>
</plist>